<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <config>
    <!-- Keep all NuGet caches off C: (user directive). -->
    <add key="globalPackagesFolder" value="G:\omp works\sts2-spire1\.nuget\packages" />
    <add key="repositoryPath" value="G:\omp works\sts2-spire1\.nuget\packages" />
  </config>
  <fallbackPackageFolders>
    <clear />
  </fallbackPackageFolders>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
  </packageSources>
</configuration>
